@import "login.css";


.form-control {
    text-align: center;
}

.login__button {
    background-color: rgb(85, 55, 143);
    color: cornsilk;
    width: 35%;
    margin-left: 32.5vw;
    margin-top: 3vw;
}
.register__button {
    background-color:  rgb(82, 81, 83);
    color:cornsilk;
    width: 35%;
    margin-left: 32.5vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

#dashboard {
    text-align: center;
    padding-left: 7.5vw;
}


#welcome {
    padding-left:5vw;
    text-align: center;
}

.text-right {
    padding-left: 4.5vw;
}
.top-section {
    background-color: rgb(85, 55, 143);
    padding-left: 0px;
    height: 300px;
    flex-wrap: wrap;
    margin-bottom: 2em;
    margin-top:1em;
    

    
}
.task-submit {
    background-color: rgb(85, 55, 143);
    color: cornsilk;
}

.side-bar-custom {
    height: 300px;
    color: cornsilk;
 
    background-color: rgb(85, 55, 143);
 
}

.nav-link {
    margin-left: 1.5vw;
    margin-top:1.5vw;
    color: cornsilk;
}
.user-section {
    background-color: white;
    border:rgb(85, 55, 143) solid 1em;
    max-height: 300px;
    margin-left: 2vw;
    padding-left: 3vw;
    
    
}
.task-section {
    background-color: rgb(85, 55, 143);
    max-height: 300px;
    width: 35%;
    margin-left: 5vw;
    padding-left: 4vw;
    padding-right: -4vw;
}
.tasks-box {
    margin-top: 1em;
    height: 265px;
    background-color: cornsilk;
    overflow: scroll;
}
#task-delete-btn{
    background-color: rgb(82, 81, 83);
    color: cornsilk;
}
#task-post-btn {
    background-color: rgb(82, 81, 83);
    color: cornsilk;
}
.tasks-box::-webkit-scrollbar {
    display: none;
  }

.t-card {
    border: black solid 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    background-color: white;
}
#task-output {
    margin-left: 1vw;
    margin-top: .7vw;
    width: 20%;
}
#due-date-task {
    margin-left: 4vw;
    margin-right: 2vw;
    padding-right: 9.4vw;
    width: 42.5%
  
    
}
#task-delete-btn {
    margin-left: 3vw;
    margin-right: -3vw;
    width: 9%;
    
}
input.checkbox {
    margin-left: 1vw;
    margin-top: 1.6vw;
    height: 30px;
    width: 30px;
}
.profile-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 0 0 10px;
    margin: 1em;
    

}
ul .dash-list{
    display: inline;
}
.top-box-sizing{
    box-sizing: unset;
    display: flex;
    flex-wrap: wrap;
   
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
}

/* BOTTOM HALF CSS */
.user-text {
    text-align: left;
}
.user-bottom-selection {
    background-color:  white;
}


.header {
    background-color: white;
}

.friend-list {
    display: flex;
    justify-content: center;
    margin: 2em 0em;
    padding: 1em;
}

.friend-entry {
    margin: 0em 2em;    
}
#save-news-btn{
    margin-bottom: 2vw;
}
.purple-button {
    background-color: rgb(85, 55, 143);
    border-color: rgb(85, 55, 143);
    color: cornsilk;
}

.purple-button:hover {
    color: cornsilk;
    background-color: #3a2755
}

.card-title{
    margin-top: 1vw;
}
.purple-button {
    margin-bottom: 1vw;
}
.btn-outline-danger {
    margin-top: 1vw;
}
.card-header{
    background-color: rgb(166, 166, 167);
}

.card-footer{
    background-color: rgb(166, 166, 167);
}
.gray-button {
    color: cornsilk;
    background-color: rgb(82, 81, 83);
    margin: 0em 0em 5em 0em;
}

.gray-button:hover {
    background-color: rgb(57, 57, 58);
}


/**
SEARCH
*/
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  #task-input:focus{
    width: 45%;
  }

.firstPost {
    background-color: rgb(248, 230, 160);
    font-weight: bold;
    
}

.card{
    margin-bottom: 2vw;
    margin-top: 2vw;
}
.card-body-friend {
    font-style: italic;
    background-color: cornsilk;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.search-users-items{
    width: 200px;
    height: fit-content;
    max-height: 200px;
    overflow: scroll;
}
.search-users-items::-webkit-scrollbar {
    display: none;
  }
.hidden {
    display: none;
}
.show-friend-search {
    background-color: rgb(85, 55, 143);
    color: cornsilk
}
#add-friend-btn {
    background-color: rgb(57, 57, 58);
    color: cornsilk;
    height: 20%
}

.bottom-section{
    overflow: scroll;
    max-height: 100vw;
}